name: Deploy Hugo to GitHub Pages  
  
on:  
  push:  
    branches: [ main ]  
  
jobs:  
  build-deploy:  
    runs-on: ubuntu-latest  
    steps:  
    - uses: actions/checkout@v3  
      with:  
        submodules: true  
          
    - name: Setup Hugo  
      uses: peaceiris/actions-hugo@v2  
      with:  
        hugo-version: '0.74.3'  
        extended: true  
          
    - name: Build  
      run: |  
        cd ./website  
        hugo -D --minify  
          
    - name: Deploy  
      uses: peaceiris/actions-gh-pages@v3  
      with:  
        github_token: ${{ secrets.GITHUB_TOKEN }}  
        publish_dir: ./website/public
